<html>
  <body>
    <input type="file" name="whatever" onchange="alert('Changed!');" />
    <input id="fileContainer" type="file" name="image" accept="image/*" capture="user">
    <input id="show" type="button" value="Show">
    <div id="imgContainer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>

      $('input#fileContainer').on('change', function () {
          console.log('pls');

          var reader = new FileReader();
          reader.onload = function (e) {
              console.log(reader.result + '->' + typeof reader.result)
              var thisImage = reader.result;
              localStorage.setItem("imgData", thisImage);
          };
          reader.readAsDataURL(this.files[0]);
      });


      $('input#show').click(function () {
          var dataImage = localStorage.getItem('imgData');
          console.log(dataImage);
          var imgCtr = $('<img/>').prop('src', dataImage);
          $('div#imgContainer').append(imgCtr);
      });
    </script>

  </body>
</html>
