<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- <link rel="stylesheet" href="static/css/formstyle.css"> -->
  </head>
  <body class="grey">
    <!-- <input id="fileContainer" type="file" name="image" accept="image/*" capture="user"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <form method="POST" class="post-form" enctype="multipart/form-data">
        <div class="container-fluid">
            {% csrf_token %}
<!-- style="height:30%;width:100%;font-size:50px;margin-top:30px; overflow:hidden;"  -->
            <div class="row">
                <div class="col-lg-4">
                    <label for="fileSelector" style = "width:100%" class="btn btn-primary btn-lg "> Take Photo </label>
            {% if form.photo.field.widget.input_type == 'file'%}
                    <input  style="display:none;" id="fileSelector" type="file" name="{{ form.photo.name }}" accept="image/*" capture="user"/>
            {% endif %}
                </div>
            </div>
<!-- style="width:100%" -->
            <div class="row">
                <div class="col-lg-4">
                    <button  style="width:100%;margin-top:150%"  type="submit" id="submit-butt" class="save btn btn-primary btn-lg align-bottom">Save</button>
                </div>
            </div>
        </div>
    </form>
  </body>
</html>
